:root{
	/**** Navigation Variables ****/
	--nav-container-width: 100%;
	--nav-spread-width: 95%;
	--nav-item-padding: 10px 0 10px 0;
	--nav-item-hover-background: rgba(200, 200, 200, 0.5);
	--nav-background: rgba(200, 200, 200, 0.);
	--nav-height: 40px;


}

/**** HEADER + NAVIGATION (START) ****/

header{
	font-size: 1.2em;
	margin: 0;
	background: rgba(255,255,255, 0.3);
	position: fixed;
	width: var(--nav-container-width);
	height: var(--nav-height);
	overflow: visible;
	z-index: 10;
}

.header-container{
	margin: auto;
	width: var(--nav-spread-width);
	height: var(--nav-height);
	display: table;

}

.brand-container{
	float: left;
	height: var(--nav-height);
	width: 100px;
	display: flex;
	align-items: center;
	justify-content: center;
}



nav{
	float: right;
}

nav .nav-container{
	position: relative;
	display: flex;
	flex-direction: row;
	align-items: flex-end;

}

.nav-selector{
	position: absolute;
	right: 400px;
	width: 100px;
	height: calc(var(--nav-height) - 4px);
	background: rgba(255,255,255,0.3);
	z-index: -1;

	transition: right 0.3s;
	border-top: 2px solid black;
	border-bottom: 2px solid black;
}

.nav-item{
	width: 100px;
	height: var(--nav-height);
	display: flex;
	align-items: center;
	justify-content: center;

	cursor: pointer;
}

.nav-item a{
	text-decoration: none;
	color: black;
}


.nav-toggle {
	top: 5px;
	position: relative;
	float: right;
	height: calc(var(--nav-height) - 12px);
	width: var(--nav-height);

	cursor: pointer;
}

.nav-toggle > div{
	position: absolute;
	border-radius: 10px;
	margin: 2px;
	width: 30px;
	height: 5px;
	background: black;
	transform-origin: center;
	animation-duration: 0.3s;
	animation-fill-mode: forwards;
}

.nav-toggle > div:nth-child(1){
	top: 0px;
	animation-name: nav-toggle-top;
}

/* @keyframes nav-toggle-top{
	0%{transform: rotate(0deg); top: 0px;}
	100%{transform: rotate(45deg); top: 14px;}
} */

.nav-toggle > div:nth-child(2){
	top: 10px;
	left: 0px;
	animation-name: nav-toggle-middle;
}

/* @keyframes nav-toggle-middle{
	0%{opacity: 1;}
	100%{aopacity: 0;}
} */



.nav-toggle > div:nth-child(3){
	top: 20px;
	animation-name: nav-toggle-bot;
}

/* @keyframes nav-toggle-bot{
	0%{transform: rotate(0deg); top: 28px;}
	100%{transform: rotate(-45deg); top: 14px;}
} */

.nav-toggle{
	display: none;
}


@media only screen and (max-width: 650px){
	.nav-toggle{
		display: block;
	}
	.nav-container{
		position: fixed !important;
		right: 0px;
		top: 40px;
		width: 100%;
		height: 0px;
		overflow: hidden;
		background: rgba(255,255,255,0.3);

		transition: height 0.3s;
		
		flex-direction: column !important;
		justify-content: center !important;
		align-items: center !important;
	}
	.nav-item-active{
		display: flex !important;
		overflow: hidden;
		height: 200px;
	}

	.nav-item-active .nav-item{
		opacity: 1;
	}

	.header-active{
		background: rgba(255,255,255,0.3);

		animation: header-animation 0.3s ease-in-out 1;
		animation-fill-mode: forwards;
	}

	@keyframes header-animation{
		0%{background: rgba(255,255,255,0.3);}
		100%{background: rgba(255,255,255,0.65);}
	}

	.nav-item{
		width: 100%;
		opacity: 0;
		background: rgba(255,255,255,0.5);

		transition: opacity 0.2s;
	}
	.nav-selector{
		display: none;
	}

}




