

:root{
	/**** Projects ****/
	--projects-theme-background: rgba(255, 179, 179, 1);
	--projects-content-delay: 0.95s;
}


.projects-container{
	display: none;
	position: fixed;
	overflow: hidden;
	height: 100%;
	width: 100%;
}

#projects-show-pointer{
	position: absolute;
	top: calc(50vh - 50px);
	left: 0px;
	width: 0;
	height: 0;
	border-top: 50px solid transparent;
	border-right: 60px solid var(--projects-theme-background);
	border-bottom: 50px solid transparent;
	z-index: 1;

	animation: projects-panel-point-animation;
	animation-fill-mode: forwards;
	animation-delay: var(--projects-content-delay);
	animation-duration: 0.5s;
}

@keyframes projects-panel-point-animation{
	0% {left: 0px;}
	100%{left: -60px;}
}


.projects-show-select{
	position: fixed;
	/*width: calc(50% - 10px);*/
	height: 100%;
	top: 0px;
	right: 0px;
	background: var(--projects-theme-background);

	animation-name: projects-panel-animation;
	animation-fill-mode: forwards;
	animation-delay: var(--projects-content-delay);
	animation-duration: 0.5s;

}

@keyframes projects-panel-animation{
	0%{width: 0%;}
	100%{width: calc(50% - 10px);}
}



.projects-show-select >div{
	position: absolute;
	left: 0px;
	display: flex;
	align-items: center;
	justify-content: center;

	height: 100%;
	width: 100%;
	overflow: hidden;
}

.projects-three-way-display {
	width: 100%;
	height: 95%;
	border: 5px solid red;
	padding: 10px;

	display: flex;
	justify-content: center;
	align-items: center;
}

.projects-three-way-display img{
	box-shadow: -3px 3px 3px 3px rgba(0,0,0,0.5);
	width: 100%;
}


.projects-show-select h1:first-child{
	position: absolute;
	width: 100%;
	font-size: 5em;
	opacity: 0.2;
	text-align: center;
}



.projects-content-container{
	position: fixed;
	top: 0px;
	left: -50vw;
	width: 50%;
	height: 100%;
	overflow-y: scroll;

	animation-name: projects-list-animation;
	animation-fill-mode: forwards;
	animation-delay: calc(var(--projects-content-delay) + 0.15s);
	animation-duration: 0.5s;
}

@keyframes projects-list-animation{
	0%{left: -50vw;}
	100%{left: 0vw;}
}


.projects-content-list{
	position: relative;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-left: 10px;
}

.projects-content-list > li:first-child {
	margin-top: 40vh !important;
}

.projects-content-list > li:last-child {
	margin-bottom: 40vh !important;
}

.projects-content-list > li {
	background: var(--projects-theme-background);
	position: relative;
	color: black;
	padding: 10px;
	width: 45vw;
	min-height: 200px;
	margin: 30px 10px;
	list-style: none;
	box-shadow: -10px 10px 5px 5px rgba(0, 0, 0, 0.5)
}

.projects-content-list > li > .projects-content{
	position: relative;
	background: rgba(255,255,255, 0.5);
	padding: 20px;
	height: 100%;
}

.projects-content > .tools{
	list-style: none;
	padding-left: 0px;
}

.projects-content > .tools > li{
	display: inline-block;
	margin-right: 5px;
	border-radius: 25px;
	border: 2px solid red;
	padding: 3px;
	background: rgba(255,255,255, 0.5);
}

.github-icon{
	display: inline;
	margin-left: 20px
	border-radius: 20px;
}

.github-icon img{
	height: 20px;
	border-radius: 20px;
	box-shadow: 0px 0px 5px 7px rgba(0,0,0,0);
	transition: box-shadow 0.15s ease-in-out;
}

.github-icon:hover img{
	box-shadow: 0px 0px 5px 7px white;
}

.projects-status{
	position: absolute;
	width: 100%;
	height: 100%;
	color: red;
	opacity: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 3em;
}

.projects-status h3{
	transform: rotate(10deg);
}

.projects-arrow-keys{
	position: absolute;
	margin-top: 10px;
	width: 100%;
	opacity: 0;
	display: flex;
	flex-direction: column;
	align-items: center;

	animation-name: projects-arrow-keys-animation;
	animation-fill-mode: forwards;
	animation-delay: calc(var(--projects-content-delay) + 0.7s);
	animation-duration: 0.2s;
}

@keyframes projects-arrow-keys-animation{
	0% {opacity: 0; transform: translateY(0px);}
	100%{opacity: 1; transform: translateY(60px) ;}
}


.projects-intro{
	position: absolute;
	width: 100%;
	height: 100%;
}

#projects-intro-title{
	position: absolute;
	font-size: 1.5em;
	right: 0px;
	top: calc(50vh - 40px);
	color: black;
	height: 80px;
	width: 0%;
	border-bottom: 5px solid black;

	animation: projects-intro-rope-animation 0.5s 2;
	animation-direction: alternate;

}

@keyframes projects-intro-rope-animation{
	0%{width: 0%;}
	80%{width: calc(50vw + 95px);}
	100%{width: calc(50vw + 95px);}
}



#projects-intro-title > div{
	position: absolute;
	left: calc(50vw + 300px);

	animation-name: projects-intro-title-animation;
	animation-fill-mode: forwards;
	animation-timing-function: cubic-bezier(.33,.59,.26,1);
	animation-delay: 0.1s;
	animation-duration: 0.5s;
}

@keyframes projects-intro-title-animation{
	0%{left: calc(50vw + 300px);}
	100% {left: 0px;}
}







