:root{

	/*--body-background: #FFFFAA;*/
	--skills-item-delay: 175ms;
	--skills-item-duration: 5ms;
	--skills-intro-width: 255px;

}

.skills-container{
	/*display: none;*/
}

.skills-intro-container{
	position: absolute;
	height: 100vh;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.skills-intro-list{
	padding: 0px;
	height: 100px;
	overflow: hidden;
	width: var(--skills-intro-width);;
	animation-fill-mode: forwards;
	border-bottom: 5px solid rgba(0,0,0,0); 
	animation-name: skills-intro-list-animation;
	animation-delay: calc(var(--skills-item-delay) * 5);
	animation-duration: calc(var(--skills-item-delay) * 4);

}

@keyframes skills-intro-list-animation{
	0% {
		height: 100px;
		width: var(--skills-intro-width);;
		border-bottom: 5px solid black;
	}
	30% {
		height: 100px;
		width: var(--skills-intro-width);;
		border-bottom: 5px solid black;
	}
	60% {
		height: 0px;
		width: var(--skills-intro-width);;
		border-bottom: 2px solid rgba(0,0,0,0.5);
	}
	90% {
		height: 0px;
		width: 100%;
		border-bottom: 1px solid rgba(0,0,0,0);
	}
	100% {
		height: 0px;
		width: 100%;
		border-bottom: 1px solid rgba(0,0,0,0);
	}

}


.skills-intro-item{
	font-size: 1.5em;
	list-style: none;
	text-align: center;
	margin: 0 5px;
	float: left;
	opacity: 0;

	animation-name: skills-intro-item-animation;
	animation-fill-mode: forwards;
	animation-duration: var(--skills-item-duration);
}

.skills-intro-item:nth-child(1){
	animation-delay: var(--skills-item-delay);
}
.skills-intro-item:nth-child(2){
	animation-delay: calc(var(--skills-item-delay) * 2);	
}
.skills-intro-item:nth-child(3){
	animation-delay: calc(var(--skills-item-delay) * 3);
}
.skills-intro-item:nth-child(4){
	animation-delay: calc(var(--skills-item-delay) * 4);
}
.skills-intro-item:nth-child(5){
	animation-delay: calc(var(--skills-item-delay) * 5);
}
.skills-intro-item:nth-child(6){
	animation-delay: calc(var(--skills-item-delay) * 6);
}

@keyframes skills-intro-item-animation{
	0%{opacity: 0;}
	100%{opacity: 1;}
}

.skills-content-container{
	overflow: hidden;
}
.skills-content{
	position: absolute;
	overflow: hidden;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;

	display: grid;
	grid-template-columns: 50% 50%;
	grid-template-rows: 50% 50%;
	grid-template-areas: 
		"languages website"
		"mobile back-end";
}

.row-content{
	position: absolute;
	height: 50vh;
	width: 50vw;

	overflow: hidden;
	display:flex;
	justify-content: center;
	align-items: center;

	animation-name: row-content-animation;
	animation-delay: calc(var(--skills-item-delay) * 8);
	animation-fill-mode: forwards;
	animation-duration: 0.5s;
}

@keyframes row-content-animation{
	0%{height: 0vh;}
	100%{height: 50vh;}
}

.descriptions{
	max-width: 350px;
	position: absolute;
	z-index: 3;
	margin-left: 20px;
	right: 20px;
}

.row-content .descriptions{
	background: rgba(255,255,255,0.8);
	padding: 10px;
}

.website{
	grid-area: website;
	position: absolute;
	bottom: 0px;
	width: 50vw;
	height: 0px;
	position: absolute;
	background: rgb(255, 204, 102);
}

.website > .tech {
	position: absolute;
	left: 10px;
	height: 100%;
	z-index: +1;
}

.website .tech img{
	height: 100%;
}



.mobile{
	grid-area: mobile;
	position: absolute;
	top: 0px;
	overflow: hidden;
	width: 50vw;
	height: 0px;
	background: rgb(204, 255, 204);
}

.mobile .tech{
	position: absolute;
	left: 10px;
	height: 100%;
	/*z-index: +1;*/

}
#iphone{
	position: absolute;
	margin-top: 25px;
	height: 60vh;
}

#android{
	position: absolute;
	margin-top: 30px;
	/*left: 50px;*/
	height: 67.5vh;
}

.back-end{
	grid-area: back-end;
	width: 50vw;
	height: 0px;
	background: rgb(153, 204, 255);
}

.back-end .tech{
	position: absolute;
	top: 100px;
	left: 10px;
	height: 100%;
}

.back-end .tech img{
	height: 40vh;
}

.languages{
	grid-area: languages;
	position: absolute;
	bottom: 0px;
	width: 50vw;
	height: 0px;
	background: rgb(204, 204, 255);
}

.languages .tech{
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 0.10;
	text-align: center;
	font-size: 15vh;
}

.languages > .descriptions-container{
	padding: 10px;
	width: 100%;
	height: 50vh !important;
	display: flex;
	justify-content: center;
	align-items: center;

	background: red;
	background: rgba(255,255,255,0.8);
}

.descriptions-container > div{
	max-width: 400px;
}

@media only screen and (max-width: 650px){
	.skills-content-container{
		overflow: hidden;
		position: absolute;

		height: 100%;
		width: 100%;
	}
	.skills-content{
		position: absolute;
		height: 100%;
		width: 0%;
		opacity: 0;
		overflow-y: scroll;
		display: flex;
		flex-direction: column;
		align-items: center;
		top: auto;
		bottom: auto;

		animation-name: m-skills-anim;
		animation-delay: calc(var(--skills-item-delay) * 8);
		animation-fill-mode: forwards;
		animation-duration: 0.5s;
	}

	@keyframes m-skills-anim{
		0%{width: 0%; opacity: 0;}
		100%{width: 100%; opacity: 1;}
	}

	.row-container{
		position: relative;
		height: 500px;
		width: 100vw;
		display: flex;
		flex-direction: column;

	}

	.row-content{
		width: 100%;
		position: relative;
		min-height: 300px;

	}
}
