:root{

	/*--body-background: #FFFFAA;*/
	--skills-item-delay: 150ms;
	--skills-item-duration: 5ms;

}

.skills-container{
	display: none;
}

.skills-intro-container{
	height: 100vh;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.skills-intro-list{
	padding: 0px;
	height: 100px;
	width: 500px;
	overflow-y: hidden;
	animation-fill-mode: forwards;
	border-bottom: 5px solid rgba(0,0,0,0); 
	animation-name: skills-intro-list-animation;
	animation-delay: calc(var(--skills-item-delay) * 7);
	animation-duration: calc(var(--skills-item-delay) * 4);

}

@keyframes skills-intro-list-animation{
	0% {
		height: 100px;
		width: 500px;
		border-bottom: 5px solid black;
	}
	30% {
		height: 100px;
		width: 500px;
		border-bottom: 5px solid black;
	}
	60% {
		height: 0px;
		width: 500px;
		border-bottom: 2px solid rgba(0,0,0,0.5);
	}
	90% {
		height: 0px;
		width: 100%;
		border-bottom: 1px solid rgba(0,0,0,0);
	}
	100% {
		height: 0px;
		width: 100%;
		border-bottom: 1px solid rgba(0,0,0,0);
	}

}


.skills-intro-item{
	overflow: hidden;
	font-size: 1.5em;
	list-style: none;
	text-align: center;
	margin: 0 5px;
	float: left;
	opacity: 0;

	animation-name: skills-intro-item-animation;
	animation-fill-mode: forwards;
	animation-duration: var(--skills-item-duration);
}

.skills-intro-item:nth-child(1){
	animation-delay: var(--skills-item-delay);
}
.skills-intro-item:nth-child(2){
	animation-delay: calc(var(--skills-item-delay) * 2);	
}
.skills-intro-item:nth-child(3){
	animation-delay: calc(var(--skills-item-delay) * 3);
}
.skills-intro-item:nth-child(4){
	animation-delay: calc(var(--skills-item-delay) * 4);
}
.skills-intro-item:nth-child(5){
	animation-delay: calc(var(--skills-item-delay) * 5);
}
.skills-intro-item:nth-child(6){
	animation-delay: calc(var(--skills-item-delay) * 6);
}

@keyframes skills-intro-item-animation{
	0%{opacity: 0;}
	100%{opacity: 1;}
}

.skills-content{
	position: fixed;
	width: 100%;
	height: 100%;
}
.skills-content > .top{
	top: 0px;
}
.skills-content > .bot{
	bottom: 0px;
}

.skills-content > .row-container{
	position: fixed;
	height: 50%;
	width: 100%;

}

.row-content{
	position: relative;
	height: 0%;
	width: 50%;
	overflow-y: hidden;
	display:flex;
	justify-content: center;
	align-items: center;

	animation-name: row-content-animation;
	animation-delay: calc(var(--skills-item-delay) * 10);
	animation-fill-mode: forwards;
	animation-duration: 0.5s;
}

.descriptions{
	width: 350px;
}

.row-content .descriptions{
	background: rgba(255,255,255,0.8);
	padding: 10px;
}

.website{
	position: absolute;
	left: 0px;
	background: rgb(255, 204, 102);
	bottom: 0px;
}

.website > .tech {
	position: absolute;
	left: 10px;
	height: 100%;
	z-index: +1;
}

.website .tech img{
	height: 100%;
}

.website .descriptions{
	position: absolute;
	z-index: 3;
	margin-left: 20px;
	right: 20px;
}



.mobile{
	position: absolute;
	right: 0px;
	background: rgb(204, 255, 204);
	bottom: 0px;
}

.mobile .tech{
	position: absolute;
	left: 10px;
	height: 100%;
	/*z-index: +1;*/

}

.mobile .descriptions{
	position: absolute;
	z-index: 3;
	margin-left: 20px;
	right: 20px;
}

#iphone{
	position: absolute;
	padding-top: 20px;
/*	transform: translateX(-100px);
	left: -100px;*/
	height: 120%;
}

#android{
	position: absolute;
	padding-top: 30px;
	/*left: 50px;*/
	height: 135%;
}

.back-end{
	position: absolute;
	left: 0px;
	background: rgb(153, 204, 255);
	top: 0px;
}

.back-end .tech{
	position: absolute;
	top: 100px;
	left: 10px;
	height: 100%;
}

.back-end .tech img{
	height: 80%;
}

.back-end .descriptions{
	position: absolute;
	z-index: 3;
	margin-left: 20px;
	right: 20px;
}

.languages{
	position: absolute;
	right: 0px;
	background: rgb(204, 204, 255);
	top: 0px;
}

.languages .tech{
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 0.10;
	text-align: center;
	font-size: 15vh;
}

.languages .descriptions{
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.languages .descriptions div{
	width: 500px;
}

@keyframes row-content-animation{
	0%{height: 0%;}
	100%{height: 100%;}
}


